body {
    width: 1000px;
    margin: 0px auto;
}

h3, h4 {
    margin-left: 25px;
}

#chatroom, fieldset {
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    width: 990px;
}

#chatroom {
    min-height: 300px;
    max-height: 500px;
    overflow-y: scroll;
}